body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    position: relative;
    z-index: 1;
    background-color: #e0e0e0; /* تغيير لون خلفية النموذج */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    width: 40%;
    padding: 30px;
    text-align: center;
}

h2 {
    color: #424242; /* تغيير لون العنوان */
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #757575; /* تغيير لون النص */
}

input,
select,
textarea {
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

input[type="file"] {
    border: none;
}

small {
    color: #757575;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.footer {
    background-color: #424242; /* تغيير لون خلفية التذييل */
    color: #fff; /* تغيير لون النص في التذييل */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.contact-info a {
    color: #fff; /* تغيير لون الروابط في التذييل */
}

button {
    background-color: #424242; /* تغيير لون خلفية الزر */
    color: #fff; /* تغيير لون نص الزر */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #333; /* تغيير لون خلفية الزر عند التحويل */
}

button i {
    margin-left: 5px;
}
/*__________________________________________*/
button {
    transition: transform 0.3s; /* إضافة تأثير انتقالي لتغيير الحجم بسلاسة */
}

button:hover {
    background-color: #333;
    transform: scale(1.1); /* زيادة حجم الزر عند التأشير */
}

button.active {
    transform: scale(1.1); /* الحفاظ على الحجم بعد النقر */
}

/*___________________________________________*/
